/KiCAD/TMi-3/_restore_backup_2026-06-19T14-47-52-601
KiCAD/TMi-3/.DS_Store
/KiCAD/TMi-3/_restore_backup_2026-06-19T14-48-28-977
KiCAD/TMi-3/gerbers/.DS_Store
.DS_Store
.DS_Store
/KiCAD/TMi-3/PCBArchives
